.add_product {
    h2 {
        font-size: 24px;
    }
    .add_content_product{
        form{
            .description{
                height: 100px;
            }
            button{
                height: 35px;
            }
        }
    }
}
